<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Add Review</ion-title>
    <ion-buttons end>
      <button  (click)="AddReview()" ion-button large clear>
            <ion-icon name="md-checkmark" style="font-size: 20px;"></ion-icon>&nbsp;Add
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style=" border:1px solid #CC0000;height: 52rem; width: 100%; margin: auto; border-radius: 25px; padding: 2rem;">
    <ion-item>
      <ion-label color="primary" floating>invoiceID</ion-label>
      <ion-input [(ngModel)]="invoiceID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Product Name</ion-label>
      <ion-input [(ngModel)]="productName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>Product Model</ion-label>
        <ion-input [(ngModel)]="productModel"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>Site</ion-label>
        <ion-select color="primary" floating (ionChange)="setSiteValue(siteID)" [(ngModel)]="siteID">
           <ion-option color="primary" floating value={{site._id}} *ngFor="let site of siteArray; let i = index" floating  >{{site.siteName}}</ion-option>
         </ion-select>
        </ion-item> 
        <ion-item *ngIf="categoryBool">
            <ion-label color="primary" floating>Category</ion-label>
          <ion-select color="primary" floating [(ngModel)]="categoryID" >
             <ion-option  value={{category.categoryName}} *ngFor="let category of categoryArray; let i = index" floating  >{{category.categoryName}}</ion-option>
           </ion-select>
          </ion-item> 
      <ion-item>
        <ion-label color="primary" floating>Review</ion-label>
        <ion-textarea [(ngModel)]="review"></ion-textarea>
      </ion-item>
  </div>
</ion-content>