<ion-header>
  <ion-navbar>
    <ion-grid style="height: 6rem;">
      <ion-row>
        <ion-col style="background-color: transparent;  border: none;" col-4>
          <ion-buttons>
            <button (click)="openProfile()" clear ion-button large float-left>
                  <img src="{{imageUrl}}{{userData.userImage}}?version={{ran}}" style=" border-radius: 50%; width: 4rem; height: 4rem;">
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col style="background-color: transparent; border: none;" text-center style="bottom: 1rem;" col-4>
          <h3 text-color="my-custom-color">Reviews</h3>
        </ion-col>
        <ion-col style="background-color: transparent; border: none;" col-4>
          <button *ngIf="!isSearch" (click)="presentSearchPrompt()" float-right style="left: 2rem; bottom: 1rem;" ion-button large
            clear>
                <ion-icon text-color="my-custom-color" name="ios-search-outline"></ion-icon>
          </button>
          <button *ngIf="isSearch" (click)="cancelSearch()" float-right style="left: 2rem; bottom: 1rem;" ion-button large clear>
              <ion-icon text-color="my-custom-color" name="ios-close-circle-outline"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content padding class="content">

  <ion-list [virtualScroll]="reviewsData" [approxItemHeight]="'120px'">
    <ion-item *virtualItem="let review">
      <div *ngIf="review.user">
        <div class="container darker">
          <img src="{{imageUrl}}{{review.user.userImage}}" alt="Avatar" class="right">
          <h4>
            {{review.user.fullName}}
          </h4>
          <h5>Site : {{review.site}}</h5>
            <h6>Product Name : {{review.productName}}</h6>
          <hr>
          <div style="width: 80%; word-wrap: break-word;">
            
            <p text-wrap>{{review.review}}</p>
          </div>
          <span class="time-left">{{review.dateCreated| longDate}}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button color="primary" ion-fab mini (click)="addReview()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>