<ion-header>

  <ion-navbar>
    <ion-title text-center>Profile</ion-title>
    <ion-buttons end>
      <button (click)="editProfileNav()" ion-button large clear>
          <ion-icon name="ios-create-outline" style="font-size: 30px;"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">

  <div style="border:1px solid #CC0000; height: 15rem; width: 100%; margin: auto; border-radius: 25px; margin-bottom: 3rem;">
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <img src="{{imageUrl}}{{userData.userImage}}" style="border:1px solid #cccccc; border-radius: 25px; width: 12rem; height: 12rem;">
        </ion-col>
        <ion-col col-7>
          <div style="padding-top: 2rem;">
            <p style=" margin: 2px; font-weight: bold;">
              Reviews:
            </p>
            <p style="margin: 2px; color: #CC0000;">
              {{reviewsData.length}}
            </p>
            <hr>
            <p style=" margin: 2px; font-weight: bold;">
              Points:
            </p>
            <p style=" margin: 2px; color: #CC0000;">
              {{totalPoints}}
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="border:1px solid #CC0000;width: 100%; margin: auto; border-radius: 25px; padding-left: 1rem;">
    <ion-slides pager="true">
      <ion-slide>
        <div style="text-align: left;">
          <p style="font-weight: bold;">Name:</p>
          <p style=" margin: 1px; color: #CC0000;">{{userData.fullName}}</p><br>
          <p style="font-weight: bold;">Email:</p>
          <p style=" margin: 1px; color: #CC0000;">{{userData.email}}</p><br>
          <p style="font-weight: bold;">DOB:</p>
          <p style=" margin: 1px; color: #CC0000;">12-2-1997</p><br><br>
        </div>
      </ion-slide>

      <ion-slide>
        <ion-scroll padding scrollY="true" style="height: 30rem; width: 100%;">
          <div *ngFor="let review of reviewsData" style="margin-bottom: 1rem;">
            <div class="container darker">
              <img src="{{imageUrl}}{{userData.userImage}}" alt="Avatar" class="right">
              <h4>
                {{userData.fullName}}
              </h4>
              <hr>
              <div style="width: 80%; word-wrap: break-word;">
                <p>{{review.review}}</p>
              </div>
              <span class="time-left">{{review.dateCreated| longDate}}</span>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>

      <ion-slide>
        <ion-scroll padding scrollY="true" style="height: 30rem; width: 100%;">
          <div *ngFor="let point of userData.points" style="text-align: left;">
            <p style="font-weight: bold; margin: 1px;">{{point.siteName}}:</p>
            <p style=" margin: 1px; color: #CC0000;">{{point.sitePoints}}</p><br>
          </div>
        </ion-scroll>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>